<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppFlask</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <div style="margin-top: 50px;" class="ui container">
        <p>my view</p>
<!--        {% for code in code_list %}-->
            <div class="ui segment">
                <p class="ui big header">{{code.code }} </p>
                <p> myview</p>
                <a class="ui blue button" href="/update?_id={{ item['_id'] }}">Update</a>
                <a class="ui red button" href="/delete?_id={{ item['_id'] }}">Delete</a>
            </div>
<!--        {% endfor %}-->
    </div>
</body>
</html>